.panel.panel-default{"id" => "Volunteering_#{asset.id}"}
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.title
        %em= asset.organization
        = asset.begin_date.strftime('%b %Y')
        to
        = asset.end_date.strftime('%b %Y')
      .col-md-2.col-sm-2
        = render "/assets/button_row", asset: asset, asset_type: asset_type

  .row
    .panel-body
      %ul
        - asset_descriptions.each do |description|
          %li
            -if session[:edit_asset] == true
              = check_box_tag "description_#{description.id}", description.id, check_description(session[:new_resume_id], asset.id, description.id), class: "asset-check-box #{asset_type}-#{asset.id}-descriptions", parent_class: "Volunteering_#{asset.id}"
            = description.detail
        %em= asset.location