= form_for [@user, @objective] do |f|
  %fieldset.form-group
    = f.text_area :description, :class => "tinymce form-control", :id => "obj-description", :rows => 10, :cols => 50
    = tinymce
  = render '/tags/form'
  %p
  = f.submit "Save", class: "btn btn-default"
  #tags-names{"data-tag-names" => "#{@tags_list}"}
