.row
  .panel-body
    %ul
      - asset_descriptions.each do |description|
        %li
          -if current_url.include?("asset")
            = check_box_tag "description_#{description.id}", description.id, check_description(session[:new_resume_id], asset.id, description.id), class: "asset-check-box #{asset_type}-#{asset.id}-descriptions", parent_class: "Experience_#{asset.id}"
          = description.detail
      - if defined?(asset.location)
        %em= asset.location
