= form_for [@user, @skill] do |f|
  %fieldset.form-group
    = f.label :title, "Title"
    = f.text_field :title, class: "form-control"
  %fieldset.form_group
    = f.label :details
    = f.fields_for :descriptions do |d|
      =d.text_field :detail, class: "form-control detail"
    = text_field_tag "skill[details][][detail]",nil,  class: "form-control detail"
    = button_tag "+", id: "add_detail"
    = button_tag "-", id: "remove_detail"
    = render '/tags/form'
    = f.submit
