= form_for [@user, @skill] do |f|
  %fieldset.form-group
    = f.label :title, "Title"
    = f.text_field :title, class: "form-control"
    = render '/tags/form'
    %p
  
    = f.submit "Save", class: "btn btn-default form-submit"
    #tags-names{"data-tag-names" => "#{@tags_list}"}
    #all-tags-names{"data-tag-names" => "#{all_tag_names}"}