%h1 Skills
.skill_list
  - @skills.each do |obj|

    .skill
      = obj.title.html_safe
    %br
    = '-details'
    - obj.descriptions.each do |item|
      %br
      = item.detail
    %br
    %br
    = '-tags'
    - obj.tags.each do |item|
      %br
      = item.name
