.panel.panel-default
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.title
      .col-md-2.col-sm-2

        -if !current_url.include?("resume") && session[:new_resume_id] != nil
          %button.btn.btn-default.pull-right.btn-round.asset-resume{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Add to Resume", "current_user_id" => current_user.id}

            %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}
          %button.btn.btn-default.pull-right.edit-popup{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Edit item", "current_user_id" => current_user.id}
            - if asset_type.singularize.capitalize.constantize.find(asset.id).resumes.include? Resume.find(session[:new_resume_id])
              %span.glpyphicon.glyphicon-minus{"aria-hidden"=>"true"}
            - else
              %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}
  .row
    .panel-body.col-md-12.col-sm-12
      %p= asset.description
      %ul
        - asset.descriptions.each do |description|
          %li
            -if current_url.include?("asset")
              = check_box_tag "description_#{description.id}", description.id, true, class: "asset-check-box #{asset_type}-#{asset.id}-descriptions"
            = description.detail
