.panel.panel-default
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.title
      .col-md-2.col-sm-2
        = render "/assets/button_row", asset_type: asset_type, asset: asset
  .row      
    .panel-body.col-md-12.col-sm-12
      %p= asset.description
      %ul
        - asset.descriptions.each do |description|
          %li
            -if current_url.include?("asset")
              = check_box_tag "description_#{description.id}", description.id, true, class: "asset-check-box #{asset_type}-#{asset.id}-descriptions"
            = description.detail
