.panel.panel-default
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.title
        %em= asset.company
        = asset.begin_date.strftime('%b %Y')
        to
        = asset.end_date.strftime('%b %Y')
      .col-md-2.col-sm-2
        -if current_url.include?("asset")
          %button.btn.btn-default.pull-right.asset-resume{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Add to Resume", "current_user_id" => current_user.id}
            - if asset_type.singularize.capitalize.constantize.find(asset.id).resumes.include? Resume.find(session[:new_resume_id])
              %span.glpyphicon.glyphicon-minus{"aria-hidden"=>"true"}
            - else
              %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}
            
  .row
    .panel-body
      %ul
        - asset.descriptions.each do |description|
          %li= description.detail
        %em= asset.location
