.panel.panel-default
  .panel-heading
    %strong= asset.title
    %em= asset.company
    = asset.begin_date.strftime('%b %Y')
    to
    = asset.end_date.strftime('%b %Y')
  .panel-body
    = asset.description
    %br
    %em= asset.location
    =render '/tags/list', asset_type: asset_type, asset: asset, tags: @tags
