= form_for [@user, @education] do |f|
  %fieldset.form-group
    = f.label :institution_name, "Institution Name"
    = f.text_field :institution_name, class: "form-control"
  %fieldset.form-group
    = f.label :location, "Location"
    = f.text_field :location, class: "form-control"
  %fieldset.form-group
    = f.label :focus, "Area of Studies"
    = f.text_field :focus, class: "form-control"
  %fieldset.form-group
    = f.label :about_institution, "About Institution"
    = f.text_field :description, class: "form-control"
  %fieldset.form-group
    = f.label :completion
    = f.date_select :completion, class: "form-control", discard_day: true
    %p
    = f.label :details
  %fieldset.form_group.form-inline
    = f.fields_for :descriptions do |d|
      =d.text_field :detail, class: "form-control detail"
    = text_field_tag "education[details][][detail]",nil,  class: "form-control detail"
    = button_tag "+", class: "btn btn-default btn-round", id: "add_detail"
    = button_tag "-", class: "btn btn-default btn-round-minus", id: "remove_detail"
  %fieldset.form_group
    = render '/tags/form'
    %p
    = f.submit "Save", class: "btn btn-default"
