.panel.panel-default
  .panel-heading
    %strong= asset.institution_name
    %em= asset.focus
    = asset.completion.strftime('%b %Y')
  .panel-body
    = asset.description
    %br
    %em= asset.location
    / =render '/tags/list', asset_type: asset_type, asset: asset, tags: @tags
    %button.btn.btn-default.pull-right.asset-resume{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Add to Resume"}
      %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}

