.panel.panel-default{"id" => "Education_#{asset.id}"}
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.institution_name
        %em= asset.focus
        = asset.completion.strftime('%b %Y')
      .col-md-2.col-sm-2.button-col
        = render "/assets/button_row", asset: asset, asset_type: asset_type
  .row
    .panel-body
      %ul
        - asset_descriptions.each do |description|
          %li
            -if session[:edit_asset] == true
              = check_box_tag "description_#{description.id}", description.id, check_description(session[:new_resume_id], asset.id, description.id), class: "asset-check-box #{asset_type}-#{asset.id}-descriptions", parent_class: "Education_#{asset.id}"
            = description.detail
        %em= asset.location