.page-header.text-center
  %h4#resume-show-instructions
    Drag your assets to your resume, then
    %button.btn.btn-default#print-resume-button{type: "button", current_user_id: "#{current_user.id}", resume_id: "#{@resume.id}"}
      Print?

    %button.btn.btn-default#save-resume-button{type: "button", current_user_id: "#{current_user.id}", resume_id: "#{@resume.id}"}
      Save
    &
    %a.btn.btn-default.fine-tune-button{href: user_resume_save_document_data_path(@resume)} Fine Tune
  %h4.resume-fine-tune
    Edit your text here, then print!
    %button.btn.btn-default#print-resume-button{type: "button", current_user_id: "#{current_user.id}", resume_id: "#{@resume.id}"}Print?


.sortable-wrapper

  / %button.btn.btn-default#add-asset-button{type: "button", current_user_id: "#{current_user.id}", resume_id: "#{@resume.id}"}
  /   =link_to 'Add asset', edit_user_resume_path



  .row
    .col-md-6.col-s-6
      %h2 Your Resume
    .col-md-6.col-s-6
      %h2 Your Assets

  .row#divSection_0
    .col-md-6.col-s-6.text-center.resume-template
      .row#divSection_1
        .col-md-12.col-s-12.resume-header
          %h4="#{current_user.first_name} #{current_user.last_name}"
          %p.email="#{current_user.email}"
          - if current_user.phone_number
            %p.phone=current_user.phone_number
          - if current_user.websites.first
            %p.web=current_user.websites.first.url

      .row#divSection_2
        .col-md-12.col-s-12.resume-content.resume-top-content.resume-section
          -@asset_types = asset_types
          -@asset_types.each do |asset_type|
            .asset-portlet
              .nested-sort
                .asset-portlet-content
                -@assets["#{asset_type}"].each do |asset|
                  - if (asset.div_sort == 2)
                    =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset.buildable



      .row#divSection_3
        .col-md-12.col-s-12.resume-content.resume-middle-split-content.resume-section
          -@asset_types = asset_types
          -@asset_types.each do |asset_type|
            .asset-portlet
              .nested-sort
                .asset-portlet-content
                -@assets["#{asset_type}"].each do |asset|
                  - if (asset.div_sort == 3)
                    =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset.buildable
        #divSection_4
          .col-md-12.col-s-12.resume-content.resume-middle-split-content.resume-section
            -@asset_types = asset_types
            -@asset_types.each do |asset_type|
              .asset-portlet
                .nested-sort
                  .asset-portlet-content
                  -@assets["#{asset_type}"].each do |asset|
                    - if (asset.div_sort == 4)
                      =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset.buildable


    .col-md-6.col-s-6.resume-content.library
      #trashcan.resume-content
      -@asset_types = asset_types
      -@asset_types.each do |asset_type|
        .asset-portlet
          .asset-portlet-header=asset_type.capitalize
          .nested-sort
            .asset-portlet-content

            -@assets["#{asset_type}"].each do |asset|
              - if (asset.div_sort == 0)
                =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset.buildable

  %a.btn.btn-default.onwards-floater.floater-right.fine-tune-button{href: user_resume_save_document_data_path(@resume)}
    %i.fa.fa-angle-right.fa-4x
  %a.btn-default.onwards-floater.floater-left{href: user_assets_url(current_user)}
    %i.fa.fa-angle-left.fa-4x
.resume-fine-tune
  %a.btn-default.onwards-floater.floater-left{href: user_resumes_url(current_user, session[:new_resume_id])}
    %i.fa.fa-angle-left.fa-4x




