.row
  .col-md-6.col-s-6.text-center.resume-template
    .row
      .col-md-12.col-s-12.resume-header
        %h3="#{current_user.first_name} #{current_user.last_name}"
        %br
        ="#{current_user.email}"

    .row
      .col-md-12.col-s-12.resume-content.resume-top-content

    .row
      .col-md-12.col-s-12.resume-content.resume-middle-content


  .col-md-6.col-s-6.resume-content.library
    -@asset_types = asset_types
    -@asset_types.each do |asset_type|
      .asset-portlet
        .asset-portlet-header=asset_type.capitalize
        .nested-sort
          .asset-portlet-content
          -@assets["#{asset_type}"].each do |asset|
            =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset




