.row
  .col-md-6.col-s-6
    %h2 Your Resume
  .col-md-6.col-s-6
    %h2 Your Assets

.row
  .col-md-6.col-s-6.text-center.resume-template
    .row
      .col-md-12.col-s-12.resume-header
        %h4="#{current_user.first_name} #{current_user.last_name}"
        %p="#{current_user.email}"
        %p=current_user.phone_number
        %p=current_user.websites.first.url

    .row
      .col-md-12.col-s-12.resume-content.resume-top-content

    .row
      .col-md-8.col-s-8.resume-content.resume-middle-split-content
      .col-md-4.col-s-4.resume-content.resume-middle-split-content


  .col-md-6.col-s-6.resume-content.library
    -@asset_types = asset_types
    -@asset_types.each do |asset_type|
      .asset-portlet
        .asset-portlet-header=asset_type.capitalize
        .nested-sort
          .asset-portlet-content
          -@assets["#{asset_type}"].each do |asset|
            =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset




