!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ModResume
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand ModResume
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                %a item2
              %li
                %a item1
              %li
                %a hello
            .navbar-form.navbar-right
              - if !user_signed_in?
                = render 'sessions/new'
              - else


    .container
      %p.notice
        = notice
      %p.alert
        = alert
      = yield
