!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ModResume
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => "/"} ModResume
          #navbar.navbar-collapse.collapse
            - if user_signed_in?
              %ul.nav.navbar-nav
                %li
                  %a Resume Dashboard
                %li
                  %a My Assets
                %li.dropdown
                  %a.dropdown-toggle{:href=>"#","data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded"=> "false"}
                    User Settings
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a Other setting
                %li
                  =link_to 'Logout', destroy_user_session_path, method: :delete
                .navbar-text
                  = "Welcome #{current_user.first_name} #{current_user.last_name}"
            - else
              .navbar-form.navbar-right
                = render 'sessions/new'


    .container
      %p.notice
        = notice
      %p.alert
        = alert
      = yield
